<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>category</title>
    <link rel="stylesheet" th:href="@{/css/stile.css}" />
</head>
<body>
<div class="sign-up-wrapper">
    <div class="sign-up">
        <h2 class="sign-up-title">Categories</h2>
        <form id="myForm" action="/categoryadd" method="post">
            <div class="input-box">
                <span>category_id</span>
                <input type="number" name="id" class="input" id="email" placeholder="Enter id">
            </div>
            <div class="input-box">
                <span>Name</span>
                <input type="text" id="pass" class="input" name="categoryName" placeholder="Enter name">
            </div>
            <input type="submit" class="submit-btn"  value="Submit">
        </form>

        <p th:text="${error}"></p>
    </div>
</div>
</body>
</html>