<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Register</title>
    <link rel="stylesheet" th:href="@{/css/stile.css}" />
</head>
<body>
<div class="centerForm">
    <div class="success">
    </div>
    <div class="sign-up-wrapper">
        <div class="sign-up">
            <h2 class="sign-up-title">Product page</h2>
            <form action="/productadd" method="POST">
                <div class="input-box">
                    <span>Name</span>
                    <input type="text" name="productName" class="input" required placeholder="Enter_product_name">
                </div>
                <div class="input-box">
                    <span>category-id</span>
                    <input type="number" name="catid" class="input" required placeholder="Enter category">
                </div>
                <div class="input-box">
                    <span>Price</span>
                    <input type="number" name="price" class="input" required placeholder="Enter price">
                </div>
                <div class="input-box">
                    <button type="submit" class="submit-btn">Save</button>
                </div>
            </form>
            <p th:text="${error}"></p>
        </div>
    </div>
</div>
</body>
</html>